.main-content {
    width: 900px;
    margin: 50px auto;
    display: flex;
}

.left-panel {
    width: 300px;
}

img {
    object-fit: cover;
    border-radius: 4px;
}

.img-preview {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 4px;
}

.img-preview.selected {
    color: white;
    background-color: royalblue;
}

.img-preview img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.full-image {
    width: 550px;
    padding-left: 30px;
}

.full-image img {
    width: 500px;
    height: 700px;
}

.full-image input {
    width: 500px;
    border-style: hidden;
    font-size: 1.1rem;
    color: #666;
    text-align: center;
}